* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}

.container .header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(254 105 1);
  width: 100%;
  height: 40px;
  padding: 5px 150px;
}

.container .header-top .list {
  display: flex;
  color: white;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
}

.container .header-top > .icon {
  display: flex;
  color: white;
  justify-content: flex-end;
  align-items: center;
}

img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
}

.container-uno {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  gap: 1rem;
}

.container-uno .card .card-img {
  width: 300px;
  height: 300px;
}

.card .card-img {
  width: 300px;
  height: 300px;
}
